@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  opacity: 0;
  font-size: 18px;
  color: #fff;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h2 {
  pointer-events: none;
}

body {
  background-color: #E6E5E1;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden */
}

.container {
  width: 100%;
  height: 100%;
/*   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  text-align: center;
  margin: 150px 0 0;
}
.container .card {
  position: relative;
  width: 40%;
  height: 150px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 4px;
  left: 20%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
@media(max-width: 900px){
  .container .card {
    width: 80%;
    left: 40%;
  }
}
.container .card:before {
  content: "";
  z-index: 99;
  position: absolute;
  top: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #E6E5E1;
}
.container .card:after {
  content: "";
  z-index: 99;
  position: absolute;
  bottom: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #E6E5E1;
}
.container .card ul {
  z-index: 99;
  position: absolute;
  left: 39px;
  top: 5px;
  list-style-type: none;
}
.container .card ul li {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  margin: 6px 0;
  background-color: #E6E5E1;
}
.container .card .para {
  z-index: 99;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 5px;
  right: 130px;
  font-size: 16px;
  left: 65px;
  /* font-weight: 700; */
  color: #fff;
  /* text-align: cenetr; */
}
.container .card .fa-arrow-right {
  z-index: 100;
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: 40px;
  cursor: pointer;
}
.container .card p {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 11%;
  color: #333;
  opacity: .9;
  font-size: 20px;
  letter-spacing: 1.5px;
  writing-mode: vertical-lr;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;


}
.container .card .pic {
  z-index: 100;
  width: 80%;
  height: 200px;
  background-image: url("start.jpg");
  background-position: 50% 50%;
  background-size: cover;
  filter: grayscale(100%);
}
/* .container .card .social {
  position: absolute;
  left: 60px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  height: 64px;
  border-radius: 80px;
}
.container .card .social i:nth-of-type(1) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.container .card .social i:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.container .card .social i:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.container .card .social i:nth-of-type(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
} */
.container .card:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.container .card button {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  background-color: #DA4D1D;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  mix-blend-mode: hard-light;
}
.container .card button i {
  font-size: 3rem;
}
.container .card:hover button {
  transform: scale(16.0);
}
.container .card:hover p {
  color: #fff;
}
.container .card:hover .pic {
  filter: grayscale(0%);
}
.container .card2 .pic {
  background-image: url("code.jpg");
  background-size: cover;
}
.container .card2 button {
  background-color: #2b26c3;
}


